@media (max-width: 600px) {
    body {
        background-color: lightblue;
        background-image: none;
    }
    h2 {
        font-size: 18px;
    }
    #myButton {
        width: 80px;
        height: 40px;
    }
}

body {
    
    background-image:url(photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    color:red;
    text-align: center;
}

strong {
    border-style: inset;
    border-color: aquamarine;
    font-size: 20px;
}
#myButton{
    margin-top: 50px;
    width:100px;
    height:50px;
    background-color: blue;
    color: white;
}
