
body {
    
    background-image:url(photo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    color:red;
    text-align: center;
}

strong {
    border-style: inset;
    border-color: aquamarine;

    font-size: 20px;
}
#myButton{
    border:none;
    align-items: center;
    background: transparent;

    width:350px;
    height:350px;
    
    position: relative;
    left: 50%;
    top: 50%;
    transform:translate(-86%, 50%);
    

    background-image:url(button.png);
    background-repeat: no-repeat;

    color: black;
    font-size: 40px;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
        background-image: none;
        display: block;
    }
    h2 {
        font-size: 18px;
    }
    strong{
        font-size: 25px;
    }
    #myButton {
        
        width:350px;
        height:350px;

        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 50%);
    }
}
